mat-card {
  margin: auto;
  margin-top: 20px;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_produto {
  width: 100px;
  border: 1px solid steelblue;
}

.list_produto{
  width: 70%;
  /* background-color: cornflowerblue; */
  border-radius: 5px;
  border: 1px solid slateblue;

  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

tr.mat-footer-row {
  font-weight: bold;
}
