<mat-card>
  <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label>Login:</mat-label>
        <input
          matInput
          id="login"
          name="login"
          type="text"
          formControlName="login"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Senha:</mat-label>
        <input
          matInput
          id="senha"
          name="senha"
          type="password"
          formControlName="senha"
        />
      </mat-form-field>
    </p>
    <p>
      <button
        mat-raised-button
        type="reset"
        color="primary"
        (click)="resetar()"
      >
        Reset
      </button>
      <button
        mat-raised-button
        type="submit"
        color="warn"
        [disabled]="formLogin.invalid"
        style="margin-left: 20px"
      >
        Login
      </button>
    </p>
  </form>
</mat-card>
