<mat-toolbar>
  <span>Lista de Perfis</span>
</mat-toolbar>

<mat-card>
  <div id="toptable">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput #input>
    </mat-form-field>
    <div>
      <button mat-raised-button type="button" color="primary"
      routerLink="form-perfil/">
      <mat-icon>add</mat-icon>Perfil ADD</button>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="perfis"
    class="mat-elevation-z8"
  >
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID:</th>
      <td mat-cell *matCellDef="let perfil">{{ perfil.id }}</td>
    </ng-container>

    <!-- nome Column -->
    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef>Perfil:</th>
      <td mat-cell *matCellDef="let perfil">{{ perfil.perfil }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let perfil">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Editar"
          [routerLink]="['form-perfil', perfil.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          id="excluir"
          mat-mini-fab
          color="warn"
          aria-label="Excluir"
          (click)="deletar(perfil)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Sem Registro</td>
    </tr>
  </table>
</mat-card>

